/*
@version 0.001
Jerboa Tool Kit
*/
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
#jerboa							{position:absolute;top:0px;left:0px;}
#jerboa ul						{list-style:none;}
#jerboa-wrapper					{position:fixed;width:100%;top:0;left:0;text-align:center;z-index:3000;}
#jerboa-menu 					{width:100%;height:33px;background:url(img/button_bg.png) 0 0 repeat-x;}
#jerboa-menu div	   			{float:left;padding:10px;cursor:pointer;line-height:0.9;}
#jerboa-menu div:first-child 	{margin-left:80px;}
#jerboa-menu div:last-child 	{float:right;color:red;text-decoration:underline;}
#jerboa-menu div:hover 			{color:#1C4284;}
#jerboa-insert div span			{background:url('img/text.png') no-repeat;}
#jerboa-insert div+div span		{background:black;}

#jerboa-errorbox				{position:fixed;background:#fcf0f0;color:#280b0b;font-size:13px;z-index:3002;}
#jerboa-errorbox p				{margin:10px;}
#jerboa-errorbox p span 		{background:url(img/icon_sprite.png) -16px 0;float:left;width:16px;height:16px;margin-right:0.3em;}
#jerboa-infobox					{position:fixed;background:#f4f8fd;color:#0d2054;font-size:13px;z-index:3002;}
#jerboa-infobox p				{margin:10px;}
#jerboa-infobox p span 			{background:url(img/icon_sprite.png) 0 0;float:left;width:16px;height:16px;margin-right:0.3em;}

#jerboa-processbar				{position:fixed;width:300px;z-index:3002;height:20px;background:url(img/progress_bar.gif) 0 -50px repeat-x;}
#jerboa-processbar p			{position:absolute;width:100%;text-align:center;line-height:20px;z-index:3000;font-size:14px;color:#0d2054;}
#jerboa-processbar span			{position:absolute;top:0;left:0;height:20px;background:url(img/progress_bar.gif) repeat-x;z-index:2999;}

#jerboa-darkbox					{width:100%;height:100%;position:fixed;background:#000;opacity: 0.3;filter:Alpha(Opacity=30);z-index:3001;}
#jerboa-resize					{position:absolute;z-index:2999;height:auto;}
#jerboa-resize >div				{border:1px dashed #000;position:relative;width:100%;height:100%;top:2px;left:2px;cursor:move;}
#jerboa-resize span				{position:absolute;width:6px;height:6px;background:#000;display:block;}
.jerboa-panel					{background:url(img/the_gradient.gif) repeat-x;width:100%;height:56px;}
.jerboa-panel div				{float:left;margin:auto 5px;padding:5px;cursor:pointer;}
.jerboa-panel div span			{width:30px;height:30px;display:block;}
.jerboa-box						{position:fixed;width:400px;height:200px;top:0;left:30%;background:#eaeaea;z-index:3002;padding:10px;}

.jerboa-window					{position:fixed;z-index:3000;padding:5px;background:#eaeaea;}
.jerboa-window p				{display:block;float:left;}
.jerboa-window p+p				{float:right;width:16px;height:16px;background:url(img/icon_sprite.png) 0 -16px no-repeat}
.jerboa-window div+p			{float:right;width:16px;height:16px;background:url(img/ui-icons.png) -80px -225px no-repeat;}
.jerboa-window p+p:hover		{background-position:-16px -16px;cursor:pointer;}
.jerboa-window div				{overflow:auto;clear:both;}
.jerboa-window li p				{cursor:text;}
.jerboa-window span				{display:block;background:url(img/ui-icons.png) -300px -300px no-repeat;width:16px;height:18px;}
.jerboa-window span+span		{background-position:-16px -128px;float:left;margin:5px 2px;cursor:pointer;clear:both;}
.jerboa-window span+span+span	{background-position:-176px -96px;clear:none;}
.jerboa-window span+span+span+span		{background-position: 0px 0px;}
.jerboa-window span+span+span+span+span	{background-position: -64px 0px;}
.jerboa-window li 				{background:#C4C4C4;padding:5px;margin:5px auto;font-style:italic;cursor:pointer;height:24px;line-height:24px;}
.jerboa-window li span			{display:block;width:16px;height:16px;float:left;margin-right:20px;border:1px solid #4F4F4F;background:#AFAFAF;}
.jerboa-window .jerboa-lactive	{background:#A4CDE4;border:1px solid #3465E7;height:22px;}
.jerboa-window .jerboa-lhide span{background:url(img/ui-icons.png) 0px -128px #AFAFAF;}
.jerboa-window div+p:hover		{cursor:se-resize;}

.jerboa-backbutton				{height:56px;width:20px;float:left;line-height:56px;cursor:pointer;}
.jerboa-lightbox				{background:#000;opacity: 0.3;filter:Alpha(Opacity=30);position:absolute;z-index:1999;}

.jerboa-button					{background:url(img/button_bg.png) 0 0 repeat-x #eaeaea;height:33px;line-height:33px;border:1px solid #999;float:left;cursor:pointer;}
.jerboa-button span				{margin:auto 10px;}
.jerboa-button:active			{background-position:0 -66px;}
/*.jerboa-button:active			{background-position:0 -33px;color: #1C4257;border-color:#7096AB;}*/
.jerboa-combobox				{float:left;background:#ddd;border:1px solid #9d9d9d;text-align:center;}
.jerboa-combobox p				{margin:5px auto;font-weight:normal;text-shadow:none;float:left;}
.jerboa-combobox span			{background:url(img/icon_sprite.png) 0 -32px no-repeat;width:16px;height:16px;cursor:pointer;float:left;margin-top:5px;}
.jerboa-combobox span + p + span{background-position:-16px -32px;}

.jerboa-layer					{position:absolute;top:0;left:0;width:100%;height:100%;}
.jerboa-layer >div				{position:absolute;text-align:justify;display:block;float:left;overflow:hidden;height:25px;width:100px;}
.jerboa-layer iframe			{overflow:hidden;}
.jerboa-hide
{
	display:none;
}
#jerboa-errorbox ,#jerboa-infobox,.jerboa-box
{
	
	box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
}
.jerboa-button:hover,#jerboa input:focus,.jerboa-combobox:hover,.jerboa-window li>span:hover
{
	box-shadow:0 0 5px #06F;
	-moz-box-shadow:0 0 5px #06F;
}
#jerboa-processbar,#jerboa-processbar span,.jerboa-button,#jerboa input,.jerboa-combobox
{
	border-radius:5px;
	-moz-border-radius:5px;
}
#jerboa-wrapper,.jerboa-button,.jerboa-box,.jerboa-window
{
	font-family:Helvetica,Arial,sans-serif;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	font-weight:bold;
	font-size:14px;
	color:#4f4f4f;
}
#jerboa input
{
	height:20px;background:url(img/inputshadow.gif) 0 0 no-repeat;
	border: 1px solid #9d9d9d;
}