.mac_text_hl { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6); }
.mac_text_shadow { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8); }
.hide { display: none; }
#jerboa {
  width: 400px;
  max-width: 400px;
  display: none;
}
#jb-a {
  width: 400px;
  border: 1px solid #bebebe;
}
#jb-b {
  width: 100%;
  height: 40px;
  border-top: 1px solid white;
  border-bottom: 1px solid #bebebe;
  background: #dedede;
  color: #666666;
  font-size: 14px;
  cursor: default;
}
#jb-b, #jb-box {
  font-family: verdana, sans-serif;
  text-shadow: 0 1px 1px #ffffff;
}
#jb-stage { backgrond: white; }
#jb-stage > div { cursor: pointer; }
#jb-box {
  width: 400px;
  height: 400px;
  background: #f6f6f6;
  color: #666666;
  border: 10px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  left: 340px;
  -webkit-background-clip: padding;
}
#jb-box input { margin-bottom: 10px; }
#jb-box label { margin-bottom: 10px; }
#jb-box textarea { margin-bottom: 10px; }
#jb-box .jb-button { margin-bottom: 10px; }
#jb-box label {
  width: 100%;
  float: left;
}
#jb-box span {
  font-size: 11.2px;
  text-shadow: none;
  margin-left: 10px;
  color: #808080;
}
#jb-box input {
  border: 1px solid #000000;
  outline: none;
  width: 100%;
}
#jb-box textarea {
  border: 1px solid #000000;
  outline: none;
  width: 100%;
}
#jb-box input:focus {
  box-shadow: 0 0 5px #ff0051;
  -moz-box-shadow: 0 0 5px #ff0051;
  -webkit-box-shadow: 0 0 5px #ff0051;
  border: 1px solid #ff0051;
}
#jb-box textarea:focus {
  box-shadow: 0 0 5px #ff0051;
  -moz-box-shadow: 0 0 5px #ff0051;
  -webkit-box-shadow: 0 0 5px #ff0051;
  border: 1px solid #ff0051;
}
#jb-box b {
  font-weight: normal;
  color: #ff0051;
}
#jb-box textarea {
  min-height: 80px;
  width: 280px !important;
  height: 80px;
}
#jb-textmenu { z-index: 3001; }
#jb-textmenu div {
  padding: 0;
  margin-top: 5px;
  margin-left: 5px;
}
#jb-textmenu div button {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #ffffff, "', endColorstr='", #e6e6e6, "')";
  border: 1px solid #999999;
  border-left: 0;
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
}
#jb-textmenu div button:active {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ffffff));
  background: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #e6e6e6, "', endColorstr='", #ffffff, "')";
}
#jb-textmenu div button > span {
  display: inline-block;
  margin: 0;
  width: 30px;
  height: 30px;
  background: url(../img/color7.png?embed=true&jcb=1290250114) no-repeat;
}
#jb-textmenu div button + button > span { background: url(../img/color6.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div button + button + button > span { background: url(../img/color8.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div button + button + button + button > span { background: url(../img/color9.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div > button:first-child {
  border-left: 1px solid #999999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
#jb-textmenu div > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#jb-textmenu div + div button > span { background: url(../img/color.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div + div button + button > span { background: url(../img/color1.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div + div button + button + button + button + button + button > span { background: url(../img/color2.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div + div button + button + button + button + button + button + button > span { background: url(../img/color3.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div + div button + button + button + button + button + button + button + button > span { background: url(../img/color4.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu div + div button + button + button + button + button + button + button + button + button > span { background: url(../img/color5.png?embed=true&jcb=1290250114) no-repeat; }
#jb-textmenu > div:hover { background: transparent; }
.last { margin-bottom: 20px !important; }
.left {
  clear: both;
  float: left;
}
.right {
  clear: both;
  float: right;
}
.hline {
  clear: both;
  border-top: 1px solid #b3b3b3;
  width: 100%;
}
.jb-button {
  display: inline-block;
  color: #6d6d6d;
  border: 1px solid #b3b3b3;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.jb-button:hover {
  color: #000000;
  border-color: #666666;
}
.jb-hline {
  height: 6px;
  width: 100%;
  background: #dedede;
  cursor: s-resize;
}
.jb-button {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #ffffff, "', endColorstr='", #e6e6e6, "')";
}
.jb-button:active {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ffffff));
  background: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #e6e6e6, "', endColorstr='", #ffffff, "')";
}
.jb-flipswitch > div > div { background: #ff0051; }
.jb-flipswitch { display: inline-block; }
.jb-flipswitch select { display: none; }
.jb-flipswitch label {
  line-height: 30px;
  width: 130px !important;
}
.jb-flipswitch > div {
  width: 148px;
  height: 30px;
  float: right;
  padding: 0px;
}
.jb-flipswitch > div > div {
  border-radius: 15px;
  text-shadow: none;
  width: 60%;
  text-align: center;
  padding: 6px 0;
  float: left;
  color: #ffffff;
}
.jb-flipswitch > div > div + div { float: right; }
.jb-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.jb-layer > div {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
  overflow: hidden;
  cursor: default;
}
.jb-touch { border: 1px dashed #000000; }
.jb-media-touch {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  filter: "Alpha(Opacity:", 0, ")";
}

