.text_shadow { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.mac_text_shadow { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
.jerboa-hide { display: none; }
.jerboa-panel-active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #ffff0d;
  color: #808080;
}
.jerboa-panel {
  background: #ffff0d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff0d), to(#f7dd09));
  background: -moz-linear-gradient(top, #ffff0d, #f7dd09);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #ffff0d, "', endColorstr='", #f7dd09, "')";
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
}
.jerboa-panel > div {
  float: left;
  padding: 10px;
  cursor: pointer;
  line-height: 20px;
  text-weight: bold;
  height: 20px;
}
.jerboa-panel > div:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #808080;
}
.jerboa-panel > div:first-child { margin-left: 30px; }
.jerboa-button {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffff0d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff0d), to(#f7dd09));
  background: -moz-linear-gradient(top, #ffff0d, #f7dd09);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #ffff0d, "', endColorstr='", #f7dd09, "')";
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: #4d4d4d !important;
  padding: 5px;
  float: left;
  cursor: pointer;
  font-weight: bold !important;
  font-variant: small-caps !important;
}
.jerboa-button:hover {
  background: #f7dd09;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dd09), to(#dec608));
  background: -moz-linear-gradient(top, #f7dd09, #dec608);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #f7dd09, "', endColorstr='", #dec608, "')";
  color: #000000 !important;
}
.jerboa-button:active {
  background: #f7dd09;
  color: #4d4d4d !important;
}
#jerboa {
  position: absolute;
  top: 0px;
  left: 0px;
}
#jerboa ul { list-style: none; }
#jerboa input {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border: 1px solid #808080;
  height: 20px;
  outline: none;
}
#jerboa input:focus {
  box-shadow: 0 0 5px #f7dd09;
  -moz-box-shadow: 0 0 5px #f7dd09;
  -webkit-box-shadow: 0 0 5px #f7dd09;
  border: 1px solid #f7dd09;
}
#jerboa select {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border: 1px solid #808080;
  height: 20px;
  outline: none;
}
#jerboa select:focus {
  box-shadow: 0 0 5px #f7dd09;
  -moz-box-shadow: 0 0 5px #f7dd09;
  -webkit-box-shadow: 0 0 5px #f7dd09;
  border: 1px solid #f7dd09;
}
#jerboa-wrapper, .jerboa-button, .jerboa-box, .jerboa-window {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
#jerboa-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 3000;
}
#jerboa-menu {
  background: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cccccc));
  background: -moz-linear-gradient(top, #e0e0e0, #cccccc);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #e0e0e0, "', endColorstr='", #cccccc, "')";
}
#jerboa-menu > div:hover { background: #ffff0d; }
#jerboa-menu > div:last-child {
  margin-right: 30px;
  float: right;
  padding: 0;
  height: 40px;
}
#jerboa-menu > div:last-child div {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffff0d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff0d), to(#f7dd09));
  background: -moz-linear-gradient(top, #ffff0d, #f7dd09);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #ffff0d, "', endColorstr='", #f7dd09, "')";
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: #4d4d4d !important;
  padding: 5px;
  float: left;
  cursor: pointer;
  font-weight: bold !important;
  font-variant: small-caps !important;
  margin-top: 4.92px;
  margin-left: 5px;
}
#jerboa-menu > div:last-child div:hover {
  background: #f7dd09;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dd09), to(#dec608));
  background: -moz-linear-gradient(top, #f7dd09, #dec608);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #f7dd09, "', endColorstr='", #dec608, "')";
  color: #000000 !important;
}
#jerboa-menu > div:last-child div:active {
  background: #f7dd09;
  color: #4d4d4d !important;
}
#jerboa-menu > div:last-child:hover { background: transparent; }
#jerboa-text {
  background: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cccccc));
  background: -moz-linear-gradient(top, #e0e0e0, #cccccc);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #e0e0e0, "', endColorstr='", #cccccc, "')";
  z-index: 3001;
}
#jerboa-text div {
  padding: 0;
  margin-top: 2.5px;
}
#jerboa-text div button {
  background: #f0f0f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#b3b3b3));
  background: -moz-linear-gradient(top, #f0f0f0, #b3b3b3);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #f0f0f0, "', endColorstr='", #b3b3b3, "')";
  border: 1px solid #999999;
  border-left: 0;
  float: left;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 0;
}
#jerboa-text div button:active {
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e0e0e0));
  background: -moz-linear-gradient(top, #cccccc, #e0e0e0);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='", #cccccc, "', endColorstr='", #e0e0e0, "')";
}
#jerboa-text div button > span {
  display: inline-block;
  margin: 2.5px;
  width: 30px;
  height: 30px;
  background: url(img/color7.png) no-repeat;
}
#jerboa-text div button + button > span { background: url(img/color6.png) no-repeat; }
#jerboa-text div button + button + button > span { background: url(img/color8.png) no-repeat; }
#jerboa-text div button + button + button + button > span { background: url(img/color9.png) no-repeat; }
#jerboa-text div > button:first-child {
  border-left: 1px solid #999999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
#jerboa-text div > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#jerboa-text div + div button > span { background: url(img/color.png) no-repeat; }
#jerboa-text div + div button + button > span { background: url(img/color1.png) no-repeat; }
#jerboa-text div + div button + button + button + button + button + button > span { background: url(img/color2.png) no-repeat; }
#jerboa-text div + div button + button + button + button + button + button + button > span { background: url(img/color3.png) no-repeat; }
#jerboa-text div + div button + button + button + button + button + button + button + button > span { background: url(img/color4.png) no-repeat; }
#jerboa-text div + div button + button + button + button + button + button + button + button + button > span { background: url(img/color5.png) no-repeat; }
#jerboa-text > div:hover { background: transparent; }
.jerboa-lightbox {
  opacity: 0.5;
  filter: "Alpha(Opacity:", 50, ")";
  background: #000000;
  position: absolute;
  z-index: 1999;
}
.jerboa-box {
  position: fixed;
  height: auto;
  top: 0;
  left: 30%;
  background: #eaeaea;
  z-index: 3002;
  padding: 10px;
}
.jerboa-touch {
  box-shadow: 0 0 1px #000000;
  -moz-box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
}
