.text_shadow { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.mac_text_shadow { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
#jerboa {
  position: absolute;
  top: 0px;
  left: 0px;
}
#jerboa ul { list-style: none; }
#jerboa-wrapper, .jerboa-button, .jerboa-box, .jerboa-window {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
#jerboa-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 3000;
}
#jerboa-menu {
  background: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cccccc));
  background: -moz-linear-gradient(top, #e0e0e0, #cccccc);
  width: 100%;
  height: 40px;
}
#jerboa-menu > div {
  float: left;
  padding: 10px;
  cursor: pointer;
  line-height: 20px;
  text-weight: bold;
  height: 20px;
}
#jerboa-menu > div:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
  background: #f7dd09;
}
#jerboa-menu > div:first-child { margin-left: 30px; }
#jerboa-menu > div:last-child {
  margin-right: 30px;
  float: right;
  padding: 0;
  height: 40px;
}
#jerboa-menu > div:last-child div {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffff0d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff0d), to(#f7dd09));
  background: -moz-linear-gradient(top, #ffff0d, #f7dd09);
  margin-left: 5px;
  color: #808080;
  padding: 5px;
  margin-top: 4.92px;
  float: left;
}
#jerboa-menu > div:last-child div:hover {
  background: #f7dd09;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dd09), to(#dec608));
  background: -moz-linear-gradient(top, #f7dd09, #dec608);
  color: #4d4d4d;
}
#jerboa-menu > div:last-child:hover { background: transparent; }
